<section class="homelist-wrapper">
    <h1 class="title">Home</h1>
    <div class="new-task">
        <input type="text" (keydown.enter)="addTask()" placeholder="Add new task" [formControl]="newTask" />
        <button (click)="addTask()">+</button>
    </div>
    <div class="filters">
        <button (click)="changeFilter('all')" [class.active]="filter() === 'all'">All</button>
        <button (click)="changeFilter('active')" [class.active]="filter() === 'active'">Active</button>
        <button (click)="changeFilter('completed')" [class.active]="filter() === 'completed'">Completed</button>
    </div>
    <ul class="task-list">
        @for (task of tasksfiltered(); track task.id) {
        @if (task.editing) {
        <!-- editando -->
        <li class="task-editing">
            <input type="text" (keydown.enter)="saveUpdateTask(task.id, $event)" placeholder="Edit task"
                [value]="task.title" />
        </li>
        }
        @else{
        <!-- ya editada -->
        <li class="task">
            <input type="checkbox" [checked]="task.completed" (click)="toggleTask(task.id)" />
            <label>{{task.title}}</label>
            @if(!task.completed) {
            <button class="edit" (click)="editTask(task.id)">Edit</button>
            }
            <button class="delete" (click)="deleteTask(task.id)">X</button>
        </li>
        }
        }
    </ul>
</section>